/* GENERAL */
.creepster-regular {
	font-family: "Creepster", system-ui;
	font-weight: 400;
	font-style: normal;
}
.nosifer-regular {
	font-family: "Nosifer", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.metal-mania-regular {
	font-family: "Metal Mania", system-ui;
	font-weight: 400;
	font-style: normal;
}
.cinzel {
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.page-body {
	height: 100vh;
	width: 100%;
	background-color: #212020;
	display: flex;
}

/* BUTTON */
.button {
	border-radius: 6px;
	background: linear-gradient(to right, #ff352e, #ff8a7a);
}

/* LANDING */
.landing-background {
	right: 0;
	background: #212020;
	z-index: 1;
	position: fixed;
}
.landing-background-image-container {
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 100%);
	z-index: 1;
	position: fixed;
	width: 60% !important;
}
.landing-background-image {
	background-repeat: no-repeat;
	height: 100vh;
	object-fit: cover;
	width: 100%;
	z-index: 0;
	filter: brightness(50%);
}
.landing-content-container {
	height: 100vh;
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
}
.landing-logo-container {
	height: 50vh;
	width: 100%;
	z-index: 2;
	display: flex;
	place-content: center;
	margin-top: 60px;
}
.landing-logo {
	width: 61%;
	object-fit: cover;
}
.landing-button-container {
	height: 45vh;
	width: 90%;
	position: absolute;
	bottom: 0;
	left: 43%;
}

/* NOT FOUND */
.not-found-background {
	background-image: url("./assets/not-found-image.webp");
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.not-found-text-container {
	align-content: flex-end;
	margin-bottom: 100px;
}
.not-found-text {
	font-family: Creepster;
	color: white;
}
