/* GENERAL */
.creepster-regular {
	font-family: "Creepster", system-ui;
	font-weight: 400;
	font-style: normal;
}

.nosifer-regular {
	font-family: "Nosifer", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.metal-mania-regular {
	font-family: "Metal Mania", system-ui;
	font-weight: 400;
	font-style: normal;
}

.cinzel {
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.page-body {
	height: 100%;
	width: 100%;
	background-color: #212020;
	display: flex;
}

/* BUTTON */
.button {
	border-radius: 6px !important;
	background: linear-gradient(to right, #ff352e, #ff8a7a) !important;
}

.nav-button {
	border: 2px solid whitesmoke;
	border-radius: 6px;
	background: transparent;
	font-family: "Metal Mania", cursive;
	color: whitesmoke;
	-webkit-text-stroke: 1px black;
	font-size: 25px;
	width: 40%;
	height: 45px;
	text-align: center !important;
	overflow: hidden;
	position: relative;
	transition: color 0.4s;
}

.nav-button::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, red, transparent);
	transition: top 0.4s ease;
	z-index: -1;
}

.nav-button:hover::before {
	top: 0;
}

.nav-button:hover {
	color: whitesmoke;
}

.nav-button:active {
	background-color: transparent;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

.modal-nav-button {
	width: 100% !important;
	margin-top: -5%;
	margin-right: 5%;
}
.header-nav-button {
	width: 33%;
	text-align: center;
}
.header-logout-nav-button {
	width: 20% !important;
}
.comment-nav-button {
	text-align: center;
	margin-left: 35%;
}

/* FOOTER */

.footer-bar {
	position: sticky;
	height: 75px;
	display: flex;
	width: 100% !important;
	justify-content: space-between;
	background-color: #212020;
}

.footer-text {
	color: whitesmoke;
}

.footer-photo {
	height: 100px;
	width: 300px;
	margin-top: -25px;
	object-fit: cover;
	z-index: 10;
}

/* HEADER */
.navbar-container {
	display: flex;
	position: sticky;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0 10px;
	padding-bottom: 20px;
	background: #212020;
	height: 100px;
}

.header-logo {
	position: absolute;
	left: 0;
	height: 150px;
	width: 150px;
	margin-top: -20px;
	object-fit: cover;
}

.button-container {
	position: absolute;
	/* right: -10%; */
	top: 25%;
	width: 30%;
	height: 50%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.my-movie-link {
	color: whitesmoke;
	-webkit-text-stroke: 1px black;
	text-decoration: none;
}

/* HOME */
.home-content {
	width: 100%;
	color: whitesmoke;
	font-family: Metal Mania;
	justify-content: center;
}

.home-header {
	font-family: Nosifer;
	font-size: xxx-large;
	color: whitesmoke;
	width: 100%;
	text-align: center;
}

.home-slider-header {
	padding-left: 60px;
	margin: 0;
	padding-top: 5px;
	font-family: Metal Mania;
}

.home-banner {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
	border-radius: 10px;
	object-fit: cover;
}

.home-banner-container {
	position: sticky;
	left: 20% !important;
	height: 100px;
	width: 60% !important;
	justify-content: center;
}

/* LANDING */
.landing-background {
	right: 0;
	background: #212020;
	z-index: 1;
	position: fixed;
}

.landing-background-image-container {
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 100%);
	z-index: 1;
	position: fixed;
	width: 60% !important;
}

.landing-background-image {
	background-repeat: no-repeat;
	height: 100vh;
	object-fit: cover;
	width: 100%;
	z-index: 0;
	filter: brightness(50%);
}

.landing-content-container {
	height: 100vh;
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.landing-logo-container {
	height: 40vh;
	width: 100%;
	z-index: 2;
	display: flex;
	place-content: center;
	margin-top: 60px;
}

.landing-logo {
	object-fit: cover;
}

.audio-control-button {
	padding: 2px;
	border: none;
	background: none;
	cursor: pointer;
}

.play-pause-icon {
	width: 25px;
	height: auto;
}

.landing-buttons {
	padding: 5px 5px;
}

/* BUTTONS */
.landing-button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 45vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 10px;
}

.button {
	border-radius: 9px;
	background: linear-gradient(to right, #ff352e, #ff8a7a);
	display: flex;
	text-align: right;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
}

.about-login {
	display: inline-block;
	width: 200px;
	justify-content: center;
}

.login-button {
	margin: 0 5px;
}

.about-button {
	margin: 0 5px;
}

/* modal */
.modal-backdrop,
.modal,
.fade,
.show {
	height: 100vh !important;
	display: flex !important;
}

.gradient-text {
	order: 1;
	flex-grow: 1;
	background: linear-gradient(to bottom, white, red);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 24px;
	font-family: "Nosifer", sans-serif;
}

.modal-dialog {
	place-content: center;
	position: absolute;
	width: 25% !important;
	height: 50vh;
	background-image: url("../src/assets/modalbg.png");
	background-size: cover;
	background-position: center;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: auto !important;
	position: relative !important;
	border: 2px solid red;
}

.modal-body {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	color: #fff;
}

.modal-header-custom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 3%;
}

.close-icon {
	all: initial;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 2%;
	top: 1%;
	transition: all 0.3s ease;
}

.close-icon:hover {
	transform: scale(1.1);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Form */
.form-container {
	margin-top: -15%;
	background-color: none !important;
	color: #fff;
	font-family: "Metal Mania", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 3vh;
	text-shadow: 2px 2px 4px #ff0000;
	padding-bottom: 30px;
	display: flex !important;
	justify-content: center !important;
}

.form-control {
	border-radius: 0.25rem;
	border: 1px solid #ced4da;
	padding: 0.375rem 0.75rem;
	background-color: transparent;
	color: #fff;
	text-shadow: 2px 2px 4px #ff0000;
}

.form-control:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(243, 163, 163, 0.438);
}

.form-control:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(239, 3, 3, 0.438) !important;
}

input:focus {
	outline: none;
}

.form-feedback {
	color: #dc3545 !important;
	font-size: 2vh;
}

.modal-footer .button,
.modal-footer .submit-button {
	width: auto;
}

.create-account-submit {
	font-size: 24px;
	height: 10%;
	margin-top: 5px;
}

.text-center {
	display: flex;
	justify-content: center;
}

.hidden-option {
	visibility: hidden;
	height: 0;
}

.form-size-show {
	height: 10%;
}

.add-movie-button {
	width: 93%;
	margin-top: 4px;
}

/* NOT FOUND */
.not-found-background {
	background-image: url("./assets/not-found-image.webp");
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.not-found-text-container {
	align-content: flex-end;
	margin-bottom: 35%;
}

.not-found-text {
	font-family: Nosifer;
	color: whitesmoke;
	opacity: 65%;
}

/* SHOW */
.show-body {
	height: 200vh;
	background-color: #212020;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
}

.show-background,
.show-background-shadow,
.show-background-image,
.movie-info {
	position: absolute;
	top: 0;
	bottom: 0;
}

.show-background-image {
	width: 100%;
	background-position: center 100%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	position: absolute;
}

.show-background {
	left: 0;
	right: 0;
}

.show-background-shadow {
	top: 0;
	width: 100%;
	height: 30%;
	background: #212020;
}

.show-background-shadow:before {
	content: "";
	position: absolute;
	z-index: 2;
	background-image: linear-gradient(to top, #212020 20%, transparent);
	width: 100%;
	height: 335%;
}

.img-back {
	height: 50px;
	z-index: 3;
	margin-top: 130px;
}

.movie-info {
	display: flex;
	margin-left: 15%;
	margin-top: 15%;
	z-index: 3;
}

.movie-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30%;
	z-index: 3;
}

.movie-title {
	font-size: 60px;
	text-align: center;
	padding-bottom: 10px;
	font-family: Metal Mania;
	-webkit-text-stroke: 2px black;
}
.tagline {
	font-size: 28px;
	text-align: center;
	padding-top: 50px;
	font-family: cinzel;
	color: whitesmoke;
	font-weight: 600;
}

.release-date {
	font-size: 28px;
	text-align: center;
	font-family: cinzel;
	font-weight: 600;
	color: whitesmoke;
}

.run-time {
	font-size: 28px;
	text-align: center;
	font-family: cinzel;
	font-weight: 600;
	color: whitesmoke;
}

.vote-average {
	font-size: 28px;
	text-align: center;
	font-family: cinzel;
	font-weight: 600;
	color: whitesmoke;
}

.genre-container {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.movie-genre {
	padding: 6px;
	margin: auto;
	font-size: 20px;
	font-family: cinzel;
	font-weight: 700;
	color: whitesmoke;
}

.overview-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40%;
	color: whitesmoke;
}

.overview {
	max-width: 50%;
	text-align: center;
	z-index: 3;
	font-family: cinzel;
	font-weight: 800;
	font-size: 20px;
}

hr {
	z-index: 3;
	width: 80%;
}

.comment-section {
	margin-top: 2% !important;
	margin: auto;
	width: 50%;
	z-index: 3;
	margin-left: 35%;
}

.show-poster-container {
	height: 35%;
}
