
.page-body {
height: 100vh;
width: 100%;
}

.landing-content-container {
height: 100vh;
width: 50%;
position: absolute;
right: 0;
top: 0;
z-index: 1;
display: flex;
justify-content: center;
}

.landing-logo-container {
height: 50vh;
width:100%;
z-index: 2;
display: flex;
place-content: center;
margin-top: 60px;
}

.landing-button-container {
  height: 45vh;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 34%;
}

.landing-background {
  right: 0;
  background: #212020;
  z-index: 1;
  position: fixed;
}

.landing-background-image-container {
  mask-image: linear-gradient(to right, rgba(0,0,0,1.0)50%, transparent 100%);
  z-index: 1;
  position: fixed;
  width: 60% !important;
}

.landing-background-image {
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;
  width: 100%;
  z-index: 0;
  filter: brightness(50%)
}

.landing-logo {
width: 61%;
object-fit: cover;
/* margin-right: 0px; */
}

.button{
  border-radius: 5px;
background: linear-gradient(to right, #ff352e, #ff8a7a);
}

.create-account-button {
display: flex;
}

.login-button {

}

.about-button {
  
}