.content {
	position: relative;
	height: 37vw;
	margin-top: -4%;
	z-index: 0 !important;
}
.content-background,
.content-background-shadow,
.content-background-image,
.content-area {
	position: absolute;
	top: 0;
	bottom: 0;
}
.content-background-image {
	right: 0;
	width: 70%;
	height: 100%;
	background-position: center 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.content-background {
	left: 0;
	right: 0;
}
.content-background-shadow {
	left: 0;
	background: #212020;
	width: 30%;
}
.content-background-shadow:before {
	content: "";
	position: absolute;
	z-index: 10;
	background-image: linear-gradient(to right, #212020, transparent);
	top: 0;
	bottom: 0;
	left: 100%;
	width: 275px;
}
.content-area {
	left: 0;
	right: 0;
	height: 100%;
}
.content-area-container {
	padding: 30px 70px;
}
.content-title {
	font-size: 45px;
	color: whitesmoke;
	font-weight: 700;
}

.content-description {
	font-size: 18px;
	font-family: Cinzel;
	color: whitesmoke;
	margin-top: 20px;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis !important;
}
.content-close {
	color: whitesmoke;
	width: 40px;
	height: 40px;
	background: transparent;
	outline: none;
	border: none;
	position: absolute;
	top: -7%;
	right: 2%;
	font-size: 30px;
	font-family: inherit;
}
.content-button {
	margin-left: 90px;
	width: auto;
}
